/**
 *											BUG退散
 * ┌───┐   ┌───┬───┬───┬───┐ ┌───┬───┬───┬───┐ ┌───┬───┬───┬───┐ ┌───┬───┬───┐
 * │Esc│   │ F1│ F2│ F3│ F4│ │ F5│ F6│ F7│ F8│ │ F9│F10│F11│F12│ │P/S│S L│P/B│  ┌┐    ┌┐    ┌┐
 * └───┘   └───┴───┴───┴───┘ └───┴───┴───┴───┘ └───┴───┴───┴───┘ └───┴───┴───┘  └┘    └┘    └┘
 * ┌───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───────┐ ┌───┬───┬───┐ ┌───┬───┬───┬───┐
 * │~ `│! 1│@ 2│# 3│$ 4│% 5│^ 6│& 7│* 8│( 9│) 0│_ -│+ =│ BacSp │ │Ins│Hom│PUp│ │N L│ / │ * │ - │
 * ├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─────┤ ├───┼───┼───┤ ├───┼───┼───┼───┤
 * │ Tab │ Q │ W │ E │ R │ T │ Y │ U │ I │ O │ P │{ [│} ]│ | \ │ │Del│End│PDn│ │ 7 │ 8 │ 9 │   │
 * ├─────┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴─────┤ └───┴───┴───┘ ├───┼───┼───┤ + │
 * │ Caps │ A │ S │ D │ F │ G │ H │ J │ K │ L │: ;│" '│ Enter  │               │ 4 │ 5 │ 6 │   │
 * ├──────┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴────────┤     ┌───┐     ├───┼───┼───┼───┤
 * │ Shift  │ Z │ X │ C │ V │ B │ N │ M │< ,│> .│? /│  Shift   │     │ ↑ │     │ 1 │ 2 │ 3 │   │
 * ├─────┬──┴─┬─┴──┬┴───┴───┴───┴───┴───┴──┬┴───┼───┴┬────┬────┤ ┌───┼───┼───┐ ├───┴───┼───┤ E││
 * │ Ctrl│    │Alt │         Space         │ Alt│ FN │    │Ctrl│ │ ← │ ↓ │ → │ │   0   │ . │←─┘│
 * └─────┴────┴────┴───────────────────────┴────┴────┴────┴────┘ └───┴───┴───┘ └───────┴───┴───┘
 * When I wrote this, only God and me understood what I was doing。
 * Now, God only knows！
 */
@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
.clearfix:after{
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
	overflow:hidden;
	clear: both;
}
ul,li,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,form{
	display: block;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
em{
	font-style: normal;
}
img {
	border: 0;
	outline: none;
}
/*单行文本末尾显示省略号*/
.ellipsis {
	white-space: nowrap;
	/*空白不换行*/
	overflow: hidden;
	text-overflow: ellipsis;
}
a:hover {
	color: red;
}
body{
	font-size: 14px;
	color: #FFFFFF;
	font-family: "microsoft yahei";
}

/*Public Style*/

/**百分比宽度**/
.wid100{
	width: 100% !important;
}
.wid90{
	width: 90% !important;
}
.wid80{
	width: 80% !important;
}
.wid70{
	width: 70% !important;
}
.wid50{
	width: 50% !important;
}
.wid30{
	width: 30% !important;
}
/**元素类型**/
.block{
  display: block;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block
}
.hide{
  display: none;
}
.hidden{
  overflow: hidden;
}
/*字体大小*/
.fs12{
    font-size: 12px !important;
}
.fs16{
    font-size: 16px !important;
}
.fs18{
    font-size: 18px !important;
}
.fs20{
    font-size: 20px !important;
}
.fs22{
    font-size: 22px !important;
}
.fs24{
    font-size: 24px !important;
}
.fs26{
    font-size: 26px !important;
}
.fs28{
    font-size: 28px !important;
}
.fs30{
    font-size: 30px !important;
}
/*字体颜色*/
.fc-White{
	color: white !important;
}
.fc-Black{
	color: black !important;
}
.fc-Red{
	color: red !important;
}
.fc-Blue{
	color: blue !important;
}
.fc-active{
	color: #ffe202 !important;
}
/*文字对齐方式*/
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
.text-center{
    text-align: center !important;
}
/*外边距*/
.margin0{
	margin: 0 auto !important;
}
.margin-top5{
	margin-top: 5px !important;
}
.margin-top10{
	margin-top: 10px !important;
}
.margin-top15{
	margin-top: 15px !important;
}
.margin-top20{
	margin-top: 20px !important;
}
.margin-top30{
	margin-top: 30px !important;
}
.margin-top50{
	margin-top: 50px !important;
}
.margin-bottom5{
	margin-bottom: 5px !important;
}
.margin-bottom10{
	margin-bottom: 10px !important;
}
.margin-bottom15{
	margin-bottom: 15px !important;
}
.margin-bottom20{
	margin-bottom: 20px !important;
}
.margin-bottom30{
	margin-bottom: 30px !important;
}
.margin-bottom50{
	margin-bottom: 50px !important;
}
.margin-left5{
	margin-left: 5px !important;
}
.margin-left10{
	margin-left: 10px !important;
}
.margin-left15{
	margin-left: 15px !important;
}
.margin-left20{
	margin-left: 20px !important;
}
.margin-left30{
	margin-left: 30px !important;
}
.margin-left50{
	margin-left: 50px !important;
}
/*内边距*/
.pandding-top5{
	padding-top: 5px !important;
}
.pandding-top10{
	padding-top: 10px !important;
}
.pandding-top15{
	padding-top: 15px !important;
}
.pandding-bottom5{
	padding-bottom: 5px !important;
}
.pandding-bottom10{
	padding-bottom: 10px !important;
}
.pandding-bottom15{
	padding-bottom: 15px !important;
}
.pandding-left5{
	padding-left: 5px !important;
}
.pandding-left10{
	padding-left: 10px !important;
}
.pandding-left15{
	padding-left: 15px !important;
}
.pandding-right5{
	padding-right: 5px !important;
}
.pandding-right10{
	padding-right: 10px !important;
}
.pandding-right15{
	padding-right: 15px !important;
}
/**定位**/
.absolute{
  position: absolute !important;
}
.fixed{
  position: fixed !important;
}
.relative{
  position: relative !important;
}
/**背景颜色**/
.bg-main{
  background-color: #333 !important;
}
.bg-white{
  background-color: white !important;
}
/**文本大小写**/
.text-upper{
  text-transform: uppercase !important;
}
.text-lower{
  text-transform: lowercase !important;
}
.text-capital{
  text-transform: capitalize !important;
}
/**文本截断**/
.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.text-ellipsis2{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
}
.text-ellipsis2{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
}
/**文本垂直对齐**/
.text-top{
  vertical-align: top !important;
}
.text-middle{
  vertical-align: middle !important;
}
.text-bottom{
  vertical-align: bottom !important;
}
/**高度**/
.height20{
	height: 20px !important;
}
.height25{
	height: 25px !important;
}
/**行高**/
.line-hight2{
	line-height: 2 !important;
}
/**换行**/
.word-wrap{
	word-break: break-word !important;
}
